@import "./scss/config";
body{font-family: $roboto;}

.afterBurnNav{
  .navbarBrandAfterBurn{
    background: -webkit-linear-gradient(left, map-get($colors, abRed),map-get($colors, abBlack));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .navbar-nav{
    .nav-link{
      color:map-get($colors, abBlack);
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.5px;
        &:hover{
          text-decoration: none;
        }
    }
  }
}

.catCard{
  .catCardImg{
    height: 440px;
  }
  .card-title{
    font-size: 1.4rem;
    color:map-get($colors, abRed);
  }
  .catCardBrowse{
    background: map-get($colors, abRed);
    color: map-get($colors, abWhite);
    border:none;
    &:hover{
      background:map-get($colors, abBlack);;
    }
  }
}

.prodLists{
  .breadcrumb{
    background: none;
    padding-left: 0px;
    margin-bottom: 0px;
    li{
      a{
        text-decoration: none;
      }
    }
  }
}

.prodCard{
  a{
    text-decoration: none;
  }
  .card-body{
    color: map-get($colors, abBlack);
    .newPrice{
      text-decoration: line-through;
      padding-right: 1rem;
      color:rgba(0,0,0,0.5);
    }
  }
  transition: all 0.3s ease;
  &:hover{
    box-shadow: 0px 6px 6px rgba(0,0,0,0.2);
  }
}

.footer{
  background: map-get($colors, abBlack);
  color:map-get($colors, abWhite);
}

.abCarouselImg{
  img{
    width: 100%;
    height: 30rem;
  }
}
