@import "./scss/config";
body{font-family: $roboto;}
// .jumbotron{
//   background-image: linear-gradient(map-get($colors, abRed), map-get($colors, abBlack));
//   background-size: cover;
//   background-attachment: fixed;
//   border-radius: 0%;
//   height: 330px;
//   color:map-get($colors, abWhite);
//   .jumboHeader{
//     text-shadow: 0.6px 0.5px 0.4px #464646;
//     font-size: 3rem;
//   }
// }

.afterBurnNav{
  .navbarBrandAfterBurn{
    background: -webkit-linear-gradient(left, map-get($colors, abRed),map-get($colors, abBlack));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .navbar-nav{
    .nav-link{
      color:map-get($colors, abBlack);
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.5px;
        &:hover{
          text-decoration: none;
        }
    }
  }
}

.catCard{
  .catCardImg{
    height: 440px;
  }
  .card-title{
    font-size: 1.4rem;
    color:map-get($colors, abRed);
  }
  .catCardBrowse{
    background: map-get($colors, abRed);
    color: map-get($colors, abWhite);
    border:none;
    &:hover{
      background:map-get($colors, abBlack);;
    }
  }
}

.footer{
  background: map-get($colors, abBlack);
  color:map-get($colors, abWhite);
}

.abCarouselImg{
  height: 30rem;
}
