$roboto : 'Roboto', sans-serif;
$colors: (
  abRed: #ff628c,
  abBlack: #1a1a1a,
  abWhite: #fff
);
.overflowXauto{
  overflow-x: auto;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box; 
}

@media screen and (max-width:767px){
  .mpl-1{padding-left: .25rem!important;}
  .mpr-1{padding-right: .25rem!important;}
  .mmb-4{margin-bottom: 0.5rem!important;}
}